.recipesPage {
  padding: 40px;
  background-color: var(--bg-color);
  color: var(--text-color);
  min-height: 100vh;
  text-align: center;

  h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 40px;
    color: var(--text-color);
  }
}

.recipeGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px 30px;
  justify-items: center;

  @media (max-width: 992px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 600px) {
    grid-template-columns: 1fr;
  }
}

.card {
  cursor: pointer;
  text-align: center;
  background-color: #fff;
  border-radius: 12px;
  overflow: hidden;
  transition: all 0.3s ease;

  h3 {
    font-size: 1rem;
    font-weight: 700;
    margin: 0;
    padding: 1rem;
    color: #000;
    background-color: transparent;
  }
}

[data-theme="dark"] {
  .card {
    background-color: #1e1e1e;

    h3 {
      color: #f0f0f0;
    }
  }
}
.image {
  width: 100%;
  max-width: 400px;
  height: 250px;
  object-fit: cover;
  display: block;
  border-radius: 8px 8px 0 0;
}


[data-theme="dark"] {
  .card {
    background-color: #1e1e1e;

    h3 {
      background-color: #1e1e1e;
      color: #f0f0f0;
    }
  }
}
