.nutsPage {
  .hero {
  position: relative;
  width: 100%;
  height: 300px; // ⬅️ əvvəl 400px idisə 300px et (şəkli aşağıdan qısaldır)
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  h1 {
    position: absolute;
    top: 50%; // ⬅️ mərkəzə gətirmək üçün top 50%
    left: 50%;
    transform: translate(-50%, -50%); // ⬅️ tam ortaya

    color: #fff;
    font-size: 2.8rem;
    font-weight: bold;
    padding: 0.5rem 2rem;
    border-radius: 10px;
  }
}

  .productsSection {
    padding: 3rem;

    .topBar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 2rem;

      p {
        font-size: 1.2rem;
        font-weight: 500;
      }

      .filter {
        display: flex;
        align-items: center;
        gap: 1rem;

        label {
          font-weight: 600;
        }

        select {
          padding: 0.4rem 1rem;
          font-size: 1rem;
        }
      }
    }

    .productGrid {
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;
      justify-content: center;
    }

   .card {
  max-width: 260px;
  padding: 1.5rem 1rem;
  border-radius: 12px;
  background: #fff;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;

 
  img {
    width: 100%;
    height: 280px; 
    object-fit: contain;
    border-radius: 10px;
    margin-bottom: 1rem;
  }

  h3 {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.3rem;
  }

  p {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 0.5rem;
  }

      .reviews {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.2rem;

        .star {
            margin: 0.5rem 0;
    font-size: 1rem;
    color: #f4c150;
        }

        span {
          margin-left: 0.5rem;
          font-size: 0.85rem;
          color: #666;
        }
      }

      .imageWrapper {
        position: relative;
        overflow: hidden;

        img {
          width: 100%;
          height: 220px;
          object-fit: cover;
          border-radius: 10px;
        }

        .quickView {
          position: absolute;
          bottom: 0;
          width: 100%;
          background: black;
          color: white;
          text-align: center;
          padding: 0.6rem 0;
          font-size: 0.9rem;
          font-weight: 500;
          opacity: 0;
          transform: translateY(100%);
          transition: all 0.3s ease;
        }

        &:hover .quickView {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
  }
}
