.wrapper {
  margin-top: 60px;
  text-align: center;
  padding: 20px;

  .title {
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 30px;
  }

  .grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  align-items: stretch;
}

  .card {
  width: 200px;
  min-height: 330px; // YÜKLÜK QOŞULDU
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 0.3s ease;

  &:hover {
    transform: translateY(-5px);
  }

  img {
    width: 100%;
    height: auto;
    border-radius: 6px;
    margin-bottom: 10px;
  }

  h3 {
    font-size: 1rem;
    margin-bottom: 5px;
    font-weight: 600;
  }

  .reviews {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    font-size: 0.9rem;
    margin-bottom: 5px;

    .star {
      color: #f6b01e;
    }

    span {
      margin-left: 5px;
      font-size: 0.85rem;
      color: #555;
    }
  }

  p {
    font-size: 0.9rem;
    color: #333;
  }
}
}