.card {
  text-align: center;
  background-color: var(--bg-color);
  color: var(--text-color);
  padding: 1rem;
  border-radius: 6px;
  transition: all 0.3s ease;

  .imageWrapper {
    position: relative;
    overflow: hidden;
    border-radius: 6px;

    img {
      width: 100%;
      object-fit: contain;
      display: block;
      transition: transform 0.3s ease;
      border-radius: 6px;
    }

    .quickView {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 40px;
      background-color: var(--text-color); // black/light mode uyğun
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0;
      transition: opacity 0.3s ease;

      a {
        color: var(--bg-color); // ağ və ya tünd fonda əks rəng
        text-transform: uppercase;
        font-size: 14px;
        text-decoration: none;
        font-weight: 500;
        width: 100%;
        text-align: center;
      }
    }

    &:hover .quickView {
      opacity: 1;
    }

    &:hover img {
      transform: scale(1.05);
    }
  }

  .name {
    margin-top: 1rem;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--text-color);
  }

  .price {
    font-size: 14px;
    margin-top: 4px;
    color: var(--text-color);
    opacity: 0.85;
  }
}
