.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  background-color: white;
  transition: transform 0.3s ease;
  border: none;
  box-shadow: none;

  &:hover {
    transform: translateY(-5px);
  }
}

.link {
  text-decoration: none;
  color: inherit;
  width: 100%;
}

.imageWrapper {
  position: relative;
  width: 280px; // daha böyük şəkil
  height: 280px;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
    transition: opacity 0.3s ease;
  }

  .hoverImg {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
  }

  &:hover .hoverImg {
    opacity: 1;
  }

  &:hover .defaultImg {
    opacity: 0;
  }
}

.defaultImg {
  z-index: 1;
}

.hoverImg {
  z-index: 2;
}

h3 {
  font-size: 16px;
  font-weight: 600;
  margin: 16px 0 6px 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #111;
}

p {
  font-size: 14px;
  color: #555;
  margin: 0 0 10px 0;
}
